 <IfModule mod_rewrite.c>
    RewriteEngine On

    # Force HTTPS and remove www
    RewriteCond %{HTTPS} off [OR]
    RewriteCond %{HTTP_HOST} ^www\.paylow\.com\.ng [NC]
    RewriteRule ^(.*)$ https://paylow.com.ng/$1 [L,R=301]

    # Homepage -> /public (internal)
    RewriteRule ^$ public/ [L]

    # All other paths -> /public/...
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>
